.nav {
    margin-top: 1.5em;
}
#header-text {
    height: 5em;
}
a#hometext {
    color: black !important;
}
.col-centered{
float: none;
margin: 0 auto;
}
#content {
	padding-left: 15px;
}
#headertext {
	padding-left: 0px;
}