{% extends "base.twig" %}

{% block content %}
    <a href="{{ route('adminuser') }}">Add a user</a><br>
    <a href="{{ route('adminusermanage') }}">Manage users</a><br>
    <a href="#">Manage Content</a>
{% endblock %}